In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv('Fitness.csv')
data.head()

   Gender  Height  Weight                Index
0    Male     174      96           overweight
1    Male     189      87                  fit
2  Female     185     110           overweight
3  Female     195     104  slightly overweight
4    Male     149      61  slightly overweight

In [144]:
data.Index.value_counts()

extremly overweight    198
overweight             130
fit                     69
slightly overweight     68
underweight             22
malnourished            13
Name: Index, dtype: int64

In [145]:
data[data.Index == 'underweight']

     Gender  Height  Weight        Index
27     Male     187      62  underweight
31     Male     178      52  underweight
32   Female     195      65  underweight
51   Female     176      54  underweight
98     Male     195      69  underweight
200    Male     184      57  underweight
242    Male     191      62  underweight
269    Male     168      50  underweight
279    Male     188      57  underweight
280    Male     193      65  underweight
308    Male     196      69  underweight
358  Female     180      58  underweight
360  Female     193      61  underweight
372    Male     185      60  underweight
381    Male     191      62  underweight
410    Male     179      56  underweight
420  Female     195      61  underweight
424    Male     174      54  underweight
425  Female     180      59  underweight
438    Male     188      65  underweight
462    Male     179      56  underweight
493  Female     170      53  underweight

In [11]:
gender = pd.get_dummies(data['Gender'], drop_first=True)

In [12]:
gender.head()

   Male
0     1
1     1
2     0
3     0
4     1

In [13]:
new_data = pd.concat([data,gender], axis=1)

In [14]:
new_data.head()

   Gender  Height  Weight                Index  Male
0    Male     174      96           overweight     1
1    Male     189      87                  fit     1
2  Female     185     110           overweight     0
3  Female     195     104  slightly overweight     0
4    Male     149      61  slightly overweight     1

In [16]:
new_data.drop(columns=['Gender'],inplace=True)

In [18]:
x = new_data.drop(columns=['Index'])
y = new_data['Index']

In [161]:
from sklearn.model_selection import train_test_split

In [162]:
x_train , x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=0)

In [163]:
from sklearn.preprocessing import StandardScaler

In [164]:
st = StandardScaler()

In [166]:
x_train.shape

(400, 3)

In [182]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [185]:
dt = DecisionTreeClassifier()

In [186]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [187]:
y_pred = dt.predict(x_test)

In [188]:
from sklearn.metrics import accuracy_score

In [189]:
accuracy_score(y_test,y_pred)

0.85

In [192]:
var = [(145,45,1)]
dt.predict(var)

array(['slightly overweight'], dtype=object)

In [179]:
import pickle

In [191]:
#pickle.dump(dt,open('fitness.pkl','wb'))